body {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
} 
     
  p {
    font-size: 1.2rem;
}

/*body*/

  .container{
      display: block;
      max-width: 100%;
      margin: 0 auto;
      background: ;
}

.picture {
    display: block;
    margin: 0 auto;
   padding: 3%;
   max-height: 430px;
   border-radius: 20%;
   box-shadow: 3px -3px 10px rgb(0 0 0 / 20%);
}

.text_picture {
   
   margin-left: 1%;
   padding: 3%;
}

.inputs-for-slider-circle {
   
    padding-left: 90%;
}